
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
#buynow{
	margin-left: 40px;
}
#buynow a{
	text-decoration: none;
	color: white;
}
#discount{
	margin-top: 150px;
}
#discount70{
	margin-top: 100px;
}

